body {
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
}


.added-info {
	margin-left: 10px;
}

.month-picker {
	padding: 20px 0;
}

.col-12 {
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 15px;
}

.send-btn-holder {
	padding-top: 10px;
}